################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/library/FileContentIndex/520692f7-079a-4c4e-b829-06aa874c407d.vsidx
/.vs/library/FileContentIndex/65873790-5f7b-4609-bdcf-da98acb5770b.vsidx
/.vs/library/v17/DocumentLayout.json
/.vs/library/v17/.suo
/library/bin/Debug/net8.0/library.dll
/library/bin/Debug/net8.0/library.exe
/library/bin/Debug/net8.0/library.pdb
/library/obj/Debug/net8.0/ref/library.dll
/library/obj/Debug/net8.0/refint/library.dll
/library/obj/Debug/net8.0/apphost.exe
/library/obj/Debug/net8.0/library.AssemblyInfo.cs
/library/obj/Debug/net8.0/library.AssemblyInfoInputs.cache
/library/obj/Debug/net8.0/library.csproj.CoreCompileInputs.cache
/library/obj/Debug/net8.0/library.csproj.FileListAbsolute.txt
/library/obj/Debug/net8.0/library.dll
/library/obj/Debug/net8.0/library.GeneratedMSBuildEditorConfig.editorconfig
/library/obj/Debug/net8.0/library.pdb
/library/obj/Debug/net8.0/library.sourcelink.json
/library/obj/Debug/net8.0/project.razor.vs.bin
/library/Views/Set/AddBooks.cshtml
/library/appsettings.json
/library/library.csproj
