################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/library/FileContentIndex/520692f7-079a-4c4e-b829-06aa874c407d.vsidx
/.vs/library/FileContentIndex/65873790-5f7b-4609-bdcf-da98acb5770b.vsidx
/.vs/library/v17/DocumentLayout.json
/.vs/library/v17/.suo
